header img {
  height: 4.1rem;
}

header ul {
  list-style: none;
  padding: 0;
}

header ul li {
  margin: 0.5rem;
  cursor: pointer;
  position: relative;
}

header ul .nav-mark {
  position: absolute;
  top: 57px;
  left: 0;
  height: 5px;
  width: 100%;
  background-color: #0282f9;
}

header .active {
  color: #0282f9;
}

footer .ms_container {
  background-color: #303030;
}

footer .ms_container .container {
  padding: 2.5rem 0rem;
}

footer .ms_container button {
  background-color: #303030;
  padding: 1rem;
  color: #ffffff;
  border: 1.5px solid #0282f9;
}

footer .social-link {
  display: flex;
  flex-direction: row-reverse;
}

footer .social-link h5 {
  text-transform: uppercase;
  color: #0282f9;
}

footer .social-link img {
  margin: 0px 5px;
}

footer .col ul {
  padding: 0;
  list-style-type: none;
}

footer .col ul li {
  color: #797979;
  margin: 10px 0px;
  cursor: pointer;
}

footer .col ul li:hover {
  color: #ffffff;
}

footer h4 {
  text-transform: uppercase;
  color: #ffffff;
}

.bg-cover {
  background-image: url("/images/footer-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.image {
  background-image: url("/images/dc-logo-bg.png");
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.mj_container {
  background-color: #1c1c1c;
}

.mj_container img {
  height: 20rem;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.mj_container .btn-series {
  color: #ffffff;
  background-color: #0282f9;
  padding: 0.7rem 1.6rem;
  position: absolute;
  top: -1.5rem;
  text-transform: uppercase;
}

.mj_container .cards-container {
  padding: 2rem 0rem;
  display: flex;
  flex-wrap: wrap;
}

.mj_container .cards-container .ms_card {
  width: calc(16.6666666667% - 1rem);
  margin: 2rem 0.5rem;
  cursor: pointer;
}

.mj_container .cards-container .ms_card img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.mj_container .cards-container .ms_card img:hover {
  transform: scale(1.05);
  transition: 0.5s;
}

.mj_container .btn-more {
  color: #ffffff;
  background-color: #0282f9;
  padding: 0.7rem 1.6rem;
  border: none;
}

.mj_container .text-card {
  margin: 0.2rem 0.2rem;
  color: #ffffff;
  text-transform: uppercase;
}

main .my_container {
  background-color: #0282f9;
  width: 100%;
}

main .my_container img {
  height: 3.5rem;
  margin-right: 0.5rem;
}

main .my_container .products {
  display: flex;
  align-items: center;
  justify-content: center;
}

main .my_container .products .product {
  width: 20%;
  display: flex;
  align-items: center;
}

main .my_container span {
  color: #ffffff;
}

